:root {
  --neon-blue: #00f2ff;
  --neon-purple: #bc13fe;
  --bg-dark: #0b0e11;
}

body {
  margin: 0;
  padding: 0;
  background: url('../assets/background.jpg') no-repeat center center fixed; /* Usando tu nuevo fondo */
  background-size: cover;
  color: white;
  font-family: 'Orbitron', sans-serif; /* Fuente tipo espacial */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.coin-container {
  margin-top: 50px;
  perspective: 1000px;
}

#mine-btn {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.1s;
}

#mine-btn:active {
  transform: scale(0.95); /* Efecto de presión al tocar como Hamster Kombat */
}

.coin-img {
  width: 200px;
  filter: drop-shadow(0 0 20px var(--neon-blue)); /* Brillo neón a la moneda */
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

.stats-panel {
  background: rgba(0, 0, 0, 0.7);
  border: 2px solid var(--neon-purple);
  border-radius: 20px;
  padding: 15px 40px;
  margin-top: 20px;
  box-shadow: 0 0 15px var(--neon-purple);
  text-align: center;
}
